
.react-app-hub {
  display: flex;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
  flex-direction: column;
  height: 100%;
}

.react-app-hub>iframe {
  flex: 1;
  border: none;
}

.react-app-hub .tabs {
  display: flex;
  min-height: 26px;
  flex-direction: row;
  background-color: #000;
  user-select: none;
}

.react-app-hub .tab-menu {
  flex: 0 0 auto;
  display: flex;
  padding-left:5px;
  padding-right:5px;
  flex-direction: row;
  align-items: center;
  color: #ddd;
  background-color: #222;
}

.react-app-hub .tab-menu .menu-btn {
  flex: 0 0 auto;
  color: #aaa;
  cursor: pointer;
}

.react-app-hub .tab-menu .menu-btn:hover {
  color: #fff;
}

.react-app-hub .tabs-bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  color: #ddd;
  overflow: hidden;
}

.react-app-hub .tab-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 80px;
  max-width: 150px;
  color: #666;
  background-color: #000;
  border-right: 1px solid #222;
  cursor: pointer;
}

.react-app-hub .tab-item.current {
  color: #ddd;
  background-color: #333;
}

.react-app-hub .tab-item:hover {
  color: #ddd;
}

.react-app-hub .tab-item .icon {
  flex: 0 0 auto;
  padding-right: 5px;
}

.react-app-hub .tab-item .label {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.react-app-hub .tab-item .cross {
  flex: 0 0 auto;
  padding-left: 3px;
  color: transparent;
}

.react-app-hub .tab-item.current .cross {
  color: #ddd;
}

.react-app-hub .tab-item:hover .cross {
  color: #ddd;
}
